<h1>ReDI School Students say 'Hello World'</h1>

<!--
Please enter your message below the next comment. E.g. like this
<p>Hello World, my name is Mohamed and I want to learn ruby!</p>

Be creative, you can add CSS styling to your message, link to other profiles
on the internet, or even build your own profile page in this app (sse ''/public/''
folder).
Also, feel free to come back when you know more about web design and want
to add something
-->
<!-- add message below -->

<div style="background-color: #81D742; border: 1px;  border-style:solid; border-color: #1982d1; border-radius: 15px; width: 700px;">
  <h1 style="text-decoration:blink; color: black;font-weight:bold;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;padding: 1%;">
    Hello everyone! Here I present you a pretty example-greeting! Regards your teacher and mentor Jonas ;)!
  </h1>
</div>

<h2>
  Hello everyone!!! This is my part.  (nkenzo) <br>I am now making changes to my part.
</h2>
<h3>
  My second changes!!!
</h3>


<h2>
hello Redi School!! (iboibrahim)
</h2>



<div>
  <h1>Hello there</h1>
  <p>Sebastian here. Happy to get to teach you rails!</p>
</div>





<h2>
  Hello everyone!!! This is bourak.
</h2>

<!-- add message above -->
