<h1>ReDI School Students say 'Hello World'</h1>

<!--
Please enter your message below the next comment. E.g. like this
<p>Hello World, my name is Mohamed and I want to learn ruby!</p>

Be creative, you can add CSS styling to your message, link to other profiles
on the internet, or even build your own profile page in this app (sse ''/public/''
folder).
Also, feel free to come back when you know more about web design and want
to add something
-->
<!-- add message below -->
<p>test autodeploy</p>
<!-- add message above -->

<p>I am a blank canvas. Please give me something to say</p>
